
<f:layout name="{layout}" />

<f:section name="main">
<h1>Listing for Item</h1>

<f:flashMessages renderMode="div" />

<!-- USE METHOD GET WITH PAGINATION -->
<f:form action="list" name="itemDemand" object="{itemDemand}" method="get">
	<div>
		<label>Title</label> <f:form.textfield property="title" />
	</div>
	<f:form.hidden property="limit" />
	<button type="submit">Submit</button>
	<f:link.action action="list" format="json" pageType="{setup.jsonPageType}" additionalParams="{recordUid: data.uid}">JSON</f:link.action>
	<f:link.action action="list" pageType="{setup.ajaxPageType}" addQueryString="1" additionalParams="{recordUid: data.uid}">Ajax</f:link.action>
</f:form>

<f:render section="results" arguments="{_all}" />

<f:link.action action="new">New Item</f:link.action>
</f:section>

<f:section name="results">
<table  class="tx_frpexample" >
	<tr>
		<th><f:translate key="tx_frpexample_domain_model_item.title" /></th>
		<th><f:translate key="tx_frpexample_domain_model_item.production_date" /></th>

	</tr>

<f:widget.paginate objects="{items}" as="paginatedItems" configuration="{setup.list.pagination}">
	<f:for each="{paginatedItems}" as="item">
		<tr>
			<td><f:link.action action="show" arguments="{item : item}"> {item.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{item : item}"> {item.productionDate -> f:format.date()}</f:link.action></td>
		</tr>
	</f:for>
</f:widget.paginate>
</table>
</f:section>


<f:section name="ajax">
	<f:render section="results" arguments="{_all}" />
</f:section>