
<table class="tx-frp-example" >
	<tr>
		<td>
			<f:translate key="tx_frpexample_domain_model_item.title" />
		</td>
		<td>
		{item.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frpexample_domain_model_item.production_date" />
		</td>
		<td>
		{item.productionDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frpexample_domain_model_item.image" />
		</td>
		<td>
				<f:image src="{item.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>